.header-cards {
  background-color: #ffff !important;
}
.info_usuario {
  background-color: #ffff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.info_usuario .row_info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.filtro_compras select {
  border: 2px solid #c41c1a;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}
.header_compras {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 0px;
}
.filtro_compras {
  display: flex;
  flex-flow: column nowrap;
  max-width: 300px;
  width: 100%;
  justify-content: center;
}
.buscador_compras label,
.filtro_compras label {
  padding: 0px 5px;
}
.buscador_compras {
  display: flex;
  flex-flow: column;

  justify-content: center;
}
.buscador_compras .buscador {
  min-width: 370px;
  width: 100%;
}
.items_compras {
  margin: auto;
  margin-top: 10px;
  width: 95%;
  min-height: 687px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
 
}
.items_compras .items {
  margin: 12px;
}
.items_compras .items .compra {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: #ffff;
  box-shadow: rgba(74, 74, 74, 0.2) 0px 0px 5px 0px;
  color: #1a202c;
  border-width: 1px;
  border-color: #e2f8f0;

  padding: 1.5rem 2.625rem;
  border-radius: 5px;
}
.header_item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.body_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  position: relative;
}
.body_item .detalle_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  column-gap: 5px;
}
.detalle {
  display: flex;
  flex-flow: column;
  /*justify-content: center;
  align-items: center;*/
  flex: 1 1 30%;
}
.producto {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 70%;
  row-gap: 10px;
}
.producto img {
  object-fit: cover;
  height: auto;
  max-width: 150px;
}
.item_estado {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 10px;
}
.toping_product {
  font-size: 14px;
}
.grid_pedido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 5px;
  margin-top: 35px;
}
.grid_pedido .title {
  color: #c41c1a;
}
.grid_pedido .label {
  color: #000;
  margin-left: 20px;
  font-size: 14px;
}
.pedido{
  color: #c41c1a;
}
.row_buttons {
  justify-content: center !important;
  flex-direction: row !important;
}
.jm-cargaTemp {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: url(./../../images/378.gif) center no-repeat #fff;
}
@media (max-width: 768px) {
  .header_compras {
    flex-flow: column nowrap !important;
    row-gap: 10px;
  }
  .buscador_compras .buscador {
    min-width: 100%;
  }

  .filtro_compras {
    min-width: 100%;
  }
  .container {
    width: 90%;
  }
  .items_compras {
    width: 100%;
  }
  .items_compras .items {
    margin: 5px 0px;
  }
  .items_compras .items .compra {
    padding: 0.8rem;
    font-size: 14px;
  }
  .header_item {
    padding-bottom: 10px;
  }
  .body_item .detalle_item {
    flex-direction: column;
    row-gap: 10px;
  }
  .producto img {
    max-width: 100px;
  }
  .grid_pedido {
    
    margin-top: 0px;
  }
 
 
}
