.info_usuario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

  }
  
  .row_buttons{
    flex-flow: row wrap !important;
    gap: 10px;
     justify-content: space-between;
  }
  .usuario_select{
    padding: 0px !important;
    text-align: center !important;
  }